@import "~react-vis/dist/style";

.test_box {
  color: black;
  border: 1px solid
}

.bt_country{

}
.bt_border{
  padding-left: 20px;
  height:auto;
  display:inline-block;
}

.path {
  color: black;
}

.tick {
  color: black;
}

.line {
  fill: none;
  stroke: black;
}
.diagram {
  padding: 0 0 300px 20px;
  text-align: center;

}

.axis--x {
  padding: 0px 0px 0px 0px;
  margin-left: auto;
}
.axis--y {
  padding: 0 0 0 50px;
}

.testingFile {
  color: aqua;
}